# litecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.litecoin
host=127.0.0.1

#mainnet default
port=9332

#testnet default
#port=19332

#regtest default
#port=19443

#signet default
#port=38332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=74673111
genesis=e7f5d84152a3bbc49b820663480163c41b8a18cf1ac586963d74d45ab4f947d3
input=/home/example/.tg11/blocks

# testnet
#netmagic=54473122
#genesis=b3f430804bd7e3f1da9ab697ecdb41422cff42137ef69146985eb0397a9e4542
#input=/home/example/.tg11/testnet4/blocks

# regtest
#netmagic=11316774
#genesis=c87438759241b107109a62c36278b2df4e12eab9e82889e4bdbf9f5e519c7bae
#input=/home/example/.tg11/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/example/.bitcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
